<%- include('partials/header') %>
<form method="POST" action="/backend/register" class="mt-5 ml-5">
    <label class="label">
        <span class="label-text">Full Name:</span>
    </label>
    <input type="text" placeholder="Type here" class="input w-full max-w-xs" name="name" required />

    <label class="label mt-2">
        <span class="label-text">Email Address:</span>
    </label>
    <input type="email" placeholder="Type here" class="input w-full max-w-xs" name="email" required />

    <label class="label mt-2">
        <span class="label-text">Password:</span>
    </label>
    <input type="password" placeholder="Type here" class="input w-full max-w-xs" name="password" required />

    <label class="label mt-2">
        <span class="label-text">Subscribe to Email Updates?</span>
    </label>
    <input type="checkbox" class="toggle toggle-success" name="subscribed" checked />

    <button class="btn btn-info btn-wide block mt-3" type="submit">Register</button>
</form>
    <%- include('partials/footer') %>