<%- include('partials/header') %>

    <h1 class="ml-4 mt-5 text-5xl font-bold uppercase">Users</h1>

    <ul class="ml-5">
        <% users.forEach(function(user) { %>
            <li class="mt-4">
                <a href="/users/<%= user.id %>" class="bg-slate-500 p-2 rounded-md text-black">
                    <%= user.name  %>
                </a>
            </li>
        <% }); %>
    </ul>
    <%- include('partials/footer') %>