<%- include("../partials/header", { title: "Error" }) %>
    <h1 style="text-align:center">The password you supplied is invalid/incorrect. <br>You can try again by clicking <a href="/admin">here</a>!</h1>
    <%- include("../partials/footer") %>