<%- include("../partials/header", { title: "Error" }) %>
    <h1 style="text-align:center">There was an error finding that name. Please make sure your name is correct and capitalize where necessary. <br>You can try again by clicking <a href="/">here</a>!</h1>
    <%- include("../partials/footer") %>