<%- include("../partials/header", { title: "Administrator"}) %>
    <button class="button is-link" onclick="window.location.assign('/admin/lookup')">Student Lookup</button>
    <br>
    <small>If you are a student and caught logging into a administrative account, punishment will be given.</small>
    <%- include("../partials/footer") %>